h1{
    font-size:40pt;
    padding:30px;
    width:330px;
    border-style:solid;
    border-color:black;
    margin-left:30px;
    margin-top:10px;
}
#myCanvas{
    z-index:-1;
    float:right;
    margin-right:20px;
    margin-top:5px;
}
.btn{
    color:white;
    background:black;
    border-color:black;
    z-index:2;
    width:60px;
    font-size:15px;
    padding:0px;
}
.btn2{
    color:white;
    background:black;
    border-color:black;
    z-index:2;
    width:100px;
}
.log-form{
    color:black;
    width:300px;
    padding-left:30px;
}
.log-form input{
    width:100%;
    border-radius:8px;
}
.result{
    margin-left:30px;
    font-size:15pt;
}
